<div class="container ">
    <header class="row   ">



        <div class="col-md-4 bg-light ">
            <h2><img src="/assets/img/iconmo.jpg" class="icono-pag">
                Digitals News</h2>
        </div>

        <nav class="navbar	navbar-expand-lg	navbar-light	bg-light col-md-8">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle	navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse	navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav	ml-auto">
                    <li class="nav-item	active">
                        <a class="nav-link" [routerLink]="['home']">Noticias</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['punto2']">Conversion De Monedas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['punto3']">Horosocopo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['punto4']">Covid-19</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['punto5']">Clima</a>
                    </li>

                </ul>
            </div>
        </nav>

    </header>
</div>